*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
  font-size: 14px;
}

:root {
  --color-social-back: #084884;
  --color-social-font: #a5d4ff;
  --color-social-button: #42a4ff;
  --font-size-12: 0.857rem;
  --font-size-16: 1.143;
  --font-size-14: 1rem;
  --font-size-20: 1.429rem;
  --font-size-18: 1.286rem;
  --font-size-60: 4.286rem;
  --font-size-24: 1.714rem;
  --font-size-15: 1.071rem;
  --font-size-30: 2.143rem;
  --font-size-40: 2.857rem;
  --font-size-48: 3.429rem;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-B";
  src: url(../fonts/OpenSans-Bold.ttf);
}

@media only screen and (max-width: 480px) {


  /************************* counter ***********************/

  /************************* slider ***********************/
  .banner {
    height: 50vh;
  }

  .banner>img {
    height: 50vh;
    transform: scale(1.5);
  }

  .text>h1 {
    font-family: "OpenSans-B";
    margin-top: 2rem;
    font-size: var(--font-size-20);
    margin-bottom: 3rem;
    color: white;
    line-height: 1.1;
  }

  .text>h3 {
    display: none;
  }

  .banner > div {
    position: absolute;
    top: 40%;
    left: 20%;
  }

}

/* @media only screen and (min-width: 768px) { } */

/* @media only screen and (min-width: 992px) { } */

@media only screen and (max-width: 1200px) {

  .social,
  .service,
  .menu,
  .lineDiv {
    display: none;
  }

  .headerRes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* @media only screen and (min-width: 1400px) { } */