:root {
    --color-social-back: #084884;
    --color-social-font: #a5d4ff;
    --color-social-button: #42a4ff;
    --font-size-12:0.857rem;
    --font-size-16:1.143;
    --font-size-14:1rem;
    --font-size-20:1.429rem;
    --font-size-18:1.286rem;
    --font-size-60:4.286rem;
    --font-size-24:1.714rem;  
    --font-size-15:1.071rem;  
    --font-size-30:2.143rem;  
    --font-size-40:2.857rem;  
    --font-size-48:3.429rem;  
  }

@media only screen and (max-width: 480px) {


  /************************* contert ***********************/
  .numbers {
    flex-direction: column;
    height: fit-content;
  }

  .numbers > div {
    width: 100%;
  }
  .cont {
    display: none;
  }
  .numbers > div > h1 {
    font-size: var(--font-size-24) ;
    font-family: "OpenSans-B";
    font-weight: bold;
    margin: 1.5rem 0 1.5rem 0;
  }
  
  .numbers > div > h3 {
    font-size: var(--font-size-14);
  }
  
  .cardLine {
    margin-bottom: 1rem;
    height: 2px;
    background: #1872c5;
    width: 2rem;
  }
  
  .numbers > div > img {
    height: 2.5rem;
  }
  
}

/* @media only screen and (min-width: 768px) { } */

/* @media only screen and (min-width: 992px) { } */

@media only screen and (max-width: 1200px) {
    .social,.service,.menu,.lineDiv {
        display: none;
    }
    .headerRes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 }

/* @media only screen and (min-width: 1400px) { } */
